<div class="bg-slate-300 h-screen flex items-center justify-center">
    <div class="max-w-md p-8 bg-white rounded shadow-md">
      <p class="text-2xl text-gray-800 mb-6">あなたの全てのデータが削除されます！</p>
      <div class="text-center">
      <%= link_to '退会する',
                  profile_path(@user),
                  class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline",
                  data: { turbo_method: :delete, turbo_confirm: "本当に退会しますか？" } %>
      </div>
    </div>
  </div>    