<h1>ネコミュニティパスワードリセット申請</h1>

<p><%= @user.name %>様</p>
<p>===============================================</p>

<p>いつもネコミュニティをご利用いただきありがとうございます。</p>
<p>パスワード再発行のご依頼を受け付けました。</p>

<p>下記リンクからパスワードの再発行を行ってください。</p>
<p><a href="<%= @url %>"><%= @url %></a></p>