<!-- ホットワイヤーの処理のためidを付与 -->
<div class="inline-block" id="comment-form">
<%= form_with(model: [post, comment], data: { turbo_method: :post }) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="inline-block mb-4 mt-4">
<div class="flex items-center justify-center">
  <%#= f.text_area :body, class: 'bg-white rounded-md' %>
  <%= f.text_field :body, class: 'bg-white rounded-md shadow-md', style: 'height: 50px; padding-left: 10px;' %>

<div class="px-2">
  <%= f.submit "コメント投稿", class: "btn accent-color hover:bg-white text-black shadow-md" %>
</div>
</div>
</div>
<% end %>
</div>
