<div class="bg-slate-300 text-black p-6">
    <div class="max-w-4xl mx-auto rounded-lg shadow-md bg-white p-6">
<h3 class="lg:text-2xl text-lg font-bold mb-4 text-center p-3"><%= @veterinary["result"]["name"] %></h3>
<h3 class="text-md mb-4 text-center"><%= address(@veterinary) %></h3>
<h3 class="mb-4 text-center"><%= image_tag @photoUrl, class: 'w-1/2 mx-auto' %></h3>
<h3 class="text-center"><%= link_to '公式HPはこちら', @veterinary["result"]["website"], class: 'text-blue-500' %></h3>
</div>
</div>
