<h2>gmap-show</h2>

<div id='map'></div>

<style>
  #map {
    height: 600px;
    width: 600px;
  }
</style>
<script>
  
    // @search_results_jsonをパースしてlocationsに代入
var locationsData = JSON.parse('<%= j @search_results_json.html_safe %>');
var locations = locationsData.results;

// locationsが各オブジェクトの配列で、各オブジェクトにはgeometryプロパティがあり、その中にlocationプロパティがあり、latおよびlngプロパティがあることを仮定
// locations.forEach(function(location) {
//   const name = location.name;
//   const address = location.formatted_address;
//   const latitude = location.geometry.location.lat;
//   const longitude = location.geometry.location.lng;

//   console.log("ロケーション", name, address, "緯度:", latitude, "経度:", longitude);
// });

// mapの初期表示
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat:35.680959106959, lng:139.76730676352},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat:35.680959106959, lng:139.76730676352},
    map: map
  });
}


// ここから追加 
let geocoder

function codeAddress(){
    locations.forEach(function(location) {
  const name = location.name;
  const address = location.formatted_address;
  const latitude = location.geometry.location.lat;
  const longitude = location.geometry.location.lng;
  var marker = new google.maps.Marker({
    map: map,
    position: { lat: latitude, lng: longitude },
    title: name,  // ピンに表示されるタイトル
  });
  
  console.log("ロケーション２-show", name, address, "緯度:", latitude, "経度:", longitude);
});
console.log('テスト');
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { '': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      console.log('テスト');
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['YOUR_API_KEY'] %>&callback=initMap" async defer></script>
