<div class="text-left text-black py-4">
    <div class="text-xl md:text-3xl mb-3 text-center">猫好きな人はぜひ使ってみてください</div>
      
    <div class="flex justify-center">
      <div class="text-base mb-4 border rounded-md px-4 py-2 shadow-md", style="max-width: 80%;">
        <div>「ネコミュニティ」は猫の画像を投稿する、「猫好き専門」のSNSサービスです。</div>
        <div>猫好きな人達がお互いの猫の動画像を投稿して自慢し合い、評価し合うことができます。</div>
        <div>飼っている猫を登録して、投稿時に飼っている猫を投稿に紐付けることができます。</div>
        <div>その他、Googleマップを使用した猫専門の動物病院検索機能もあります。ぜひ使ってみてください。</div>
      </div>
    </div>
    <div class="lg:text-4xl text-xl mb-4 text-center underline py-2">使い方</div>
    <div class="p-8">
        <div class="accent-color shadow-md border rounded-md p-2 flex flex-col">
    <div class="text-3xl mb-3">・マイ猫's</div>
    <div class="flex-none md:flex">
    <div class="mb-2 items-center md:flex">
        <div class="base-color mx-auto border rounded-md shadow-md mb-2 p-2">
            <div class="text-sm md:text-base">マイ猫'sより自分の猫を登録できます。 </div>
            <div class="text-sm md:text-base">「名前・誕生日・猫の紹介・性別・ネコ種・猫の画像」を
            登録できます。</div>
            <div class="text-sm md:text-base">※猫以外の画像は登録できませんのでご注意ください。</div>
    </div>
    <div class="px-8">
    <div class="flex flex-col">
    <div class="mb-3">
        <%= video_tag("cat-create.mp4", autoplay: true, muted: true, loop: true, playsinline: true) %>
    </div>
</div>
</div>
</div>
</div>
  </div>
</div>
  </div>
