<div class="text-left text-black py-4">
    <div class="lg:text-4xl text-xl mb-4 text-center underline py-2">プライバシーポリシー</div>
    <div class="flex justify-center">
        <div class="grid border rounded-md accent-color px-4 py-2 shadow-md", style="max-width: 80%;">
            <p class="text-base mb-4">
    ネコミュニティ運営（以下，「当方」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
            </p>
            <div class="text-3xl mb-3">第1条（お客様から取得する情報）</div>

            <div class="mb-4">当方は、お客様から以下の情報を取得します。</div>

            <ul class="list-decimal pl-6 text-base mb-4">
<li>氏名（ニックネームやペンネームも含む）</li>
<li>メールアドレス</li>
<li>システムによって生成された一意の識別情報</li>
<li>本ウェブサイトの滞在時間、入力履歴等の本ウェブサイトにおけるお客様の行動履歴</li>
<li>写真や動画</li>
<li>住所</li>
<li>お客様の位置情報</li>
            </ul>

<div class="text-3xl mb-3">第2条(お客様の情報を利用する目的)</div>

<div class="mb-4">当方がお客様から取得した情報を利用する目的は，以下のとおりです。</div>

<ul class="list-decimal pl-6 text-base mb-4">
<li>本サービスに関する登録の受付、お客様の本人確認、認証のため</li>
<li>お客様の本サービスの利用履歴を管理するため</li>
<li>当方のサービスに関するご案内をするため</li>
<li>本サービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</li>
<li>お客様からのお問い合わせに対応するため</li>
<li>本サービスの利用規約や法令に違反する行為に対応するため</li>
<li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
<li>本サービス規約の変更等を通知するため</li>
<li>飼い猫の個人情報</li>
<li>以上の他、管理者サービスの提供、維持、保護及び改善のため</li>
</ul>

<div class="text-3xl mb-3">第3条（利用目的の変更）</div>
<p class="text-base mb-4">
当方は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。
利用目的の変更を行った場合には，変更後の目的について，当方所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。
</p>
<div class="text-3xl mb-3">第4条（第三者提供）</div>
<p class="text-base mb-4">
お客様からお預かりした個人情報を、個人情報保護法その他の法令に基づき開示が認められる場合を除き、お客様ご本人の同意を得ずに第三者に提供することはありません。
</p>

<div class="text-3xl mb-3">第5条（アクセス解析ツール）</div>
  <p class="text-base mb-4">
    当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。
    トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。
    詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。
  </p>

<div class="text-3xl mb-3">第6条（プライバシーポリシーの変更）</div>
<p class="text-base mb-4">
本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。
当方が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。
</p>

<div class="mb-4">
  <%= link_to 'Googleアナリティクス利用規約', 'https://marketingplatform.google.com/about/analytics/terms/jp/', class: 'text-lg md:text-xl hover:text-white underline inline-block' %>
</div>

<div class="text-3xl mb-3">第7条（お問い合わせ窓口）</div>
<p class="text-base mb-4">
本ポリシーに関するお問い合わせは，「運営元」までお願いいたします。
</p>
<p class="text-base text-right">
以上
</p>
</div>
    </div>