<!-- Modal Background -->
<div class="hidden fixed inset-0 bg-black bg-opacity-80 overflow-y-auto flex items-center justify-center" data-modal-target="background" data-action="click->modal#closeBackground">
  <!-- Modal Container -->
  <div data-modal-target="container" class="hidden animated fadeIn inset-0 overflow-y-auto flex items-center justify-center">
    <!-- Modal Inner Container -->
    <div class="rounded-md base-color p-1 lg:p-3">
      <div class="text-black p-6 rounded-md accent-color border border-black border-2">
        <div class="absolute top-0 right-0 p-3 md:invisible">
          <button class="text-4xl text-red-500" data-action="modal#close"><span aria-hidden="true">&times;</span></button>
        </div>
<div class="text-black flex flex-col items-center justify-center">
  <div class="mb-2">
    <div class="mb-2">
      <div class="text-sm font-bold text-gray-500 mb-2">飼い主さんのお名前</div>
      <div><%= user.name %></div>
    </div>
  <div class="flex justify-center items-center space-x-4">
    <div class="mb-1">
      <%= image_tag user.avatar_url, class: 'w-32 h-32 lg:w-40 lg:h-40 rounded-md object-cover' %>
    </div>
    <% if user.self_introduction.present? %>
  
  <div class="mb-4 border border-black border-2 base-color rounded-md p-2">
    <div class="whitespace-pre-line text-sm"><%= user.self_introduction %></div>
  </div>
  <% end %>
  </div>
</div>
    <div class="mb-3">
      <%= link_to "#{user.name}さんのマイ猫's", usercat_users_path(user_id: user.id), class: 'underline text-blue-500' %>
    </div>
</div>
      </div>
    </div>
  </div>
</div>
