<div class="bg-slate-300 p-4 text-black">
  <div class="text-right">
<%= link_to '利用規約', kiyac_tops_path, class:'mr-4' %>
<%= link_to 'プライバシーポリシー', policy_tops_path, class:'mr-4' %>
<%= link_to '運営元', 'https://twitter.com/tkm9353', class:'mr-4' %>
</div>
</div>