<div class="p-4 text-black">
  <div class="text-sm md:text-base flex justify-center space-x-10">
<%= link_to '利用規約', kiyac_tops_path, class:'text-center' %>
<%= link_to 'プライバシーポリシー', policy_tops_path, class:'text-center' %>
<%= link_to '運営元', 'https://twitter.com/tkm9353', class:'text-center' %>
</div>
</div>