<h1>タグ名</h1>
<h3><%= tag.name %></h3>
<h1>タグ作成日</h1>
<h3><%= tag.created_at.strftime('%Y年%m月%d日 %H時%M分')%></h3>

<%= link_to '詳細',admin_tag_path(tag) %>
<%= link_to '削除',admin_tag_path(tag), data: { turbo_method: :delete, turbo_confirm: "タグを削除しますか？" } %>
<h1>---------------------------------------------------</h1>    