<%= turbo_frame_tag current_user do %>
<div class="flex items-center justify-center h-screen text-black">
      <div class="flex flex-col items-center">
        <div class="text-3xl font-bold mb-4">友達追加してからLineでネコミュニティに登録してあるメースアドレスを送ってください</div>
        <img src="https://qr-official.line.me/gs/M_452ggkhv_GW.png?oat_content=qr" class="mt-4">
        <div class="mt-6"><%= link_to "Back",profile_path, class: 'border-black btn accent-color hover:bg-white text-black shadow-md md:text-lg text-sm whitespace-nowrap' %></div>
      </div>
  </div>
<%end%>