<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-semibold mb-6">投稿一覧</h1>

<div class="mb-3 text-black">
  <%= render 'search', q: @q, url: admin_posts_path %>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  <%=render @posts %>
</div>
</div>