<div class="bg-gray-100 p-4 rounded-md">
    <%= link_to "#{health_record.created_at.strftime('%Y年%m月%d日%H時%M分')}の記録だよ", health_record_path(health_record), class: "text-blue-500 underline" %>
  </div>