<% content_for(:title, "#{current_user.name}さんの猫ちゃん達の健康記録") %>

<div class="bg-slate-300 p-6">
  <h1 class="text-2xl font-bold mb-4">猫ちゃん達の健康状態</h1>
  <h2 class="text-xl font-bold mb-2"><%= current_user.name %>さんの猫一覧</h2>

  <% @catrecord.each do |cat| %>
    <div class="mb-4">
      <h4 class="text-blue-500">
        <%= link_to "#{cat.decorate.cat_name}の健康状態の記録を見る", health_records_path(cat_id: cat.id), class: "underline" %>
      </h4>
    </div>
  <% end %>
</div>