<div class="bg-white rounded-md shadow-md p-6 mb-6">
    <div class="mb-4">
      <%= link_to "#{health_record.created_at.strftime('%Y年%m月%d日%H時%M分')}の記録", admin_health_record_path(health_record), class: "text-blue-500 hover:underline" %>
    </div>
  </div>