<%= search_form_for @q, url: url do |f| %>
<div class="relative flex rounded-md items-center">
<div data-controller="autocomplete" data-autocomplete-url-value="/posts/autocomplete" role="combobox">
    <%= f.search_field :title_or_body_or_user_name_or_cat_name_cont, class: 'form-control bg-white px-1', placeholder: '検索欄', data: { autocomplete_target: 'input' } %>
    <%= f.hidden_field :title_or_body_or_user_name_or_cat_name, data: { autocomplete_target: 'hidden' } %>
    <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
    <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none pl-4">
        <!-- <svg class="h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> -->
      </div>
  </div>
  <div class="px-4">
  <%= f.submit '検索', class: 'btn btn-primary' %>
</div>
</div>
<% end %>
