<% content_for(:title, "#{current_user.name}さんのブックマーク一覧") %>

<div class="bg-slate-300">
  <div class="py-3 p-4">
  <%= link_to '投稿一覧', posts_path, class: 'm-3 px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-700 transition duration-300 ease-in-out md:text-lg text-sm' %>
</div>
<% if @bookmark_posts.present? %>
<h1 class="text-black mb-4 p-3 lg:text-4xl text-xl">あなたがブックマークした一覧</h1>
  <div class="grid grid-cols-1 xl:grid-cols-4 md:grid-cols-2 gap-4 p-4 mx-auto xl:px-2">
  <%= render @bookmark_posts %>
    </div>
<% else %>
<h1 class="lg:text-4xl text-xl text-black p-3">ブックマークした投稿がここに表示されるよ！</h1>
<% end %>
</div>
