<div class="bg-slate-300">
  <%= link_to '投稿一覧', posts_path, class: 'underline text-blue-500' %>
<h1>あなたがブックマークした一覧</h1>
<% if @bookmark_posts.present? %>
<div class="mb-4">
    <div class="p-4 m-2 flex flex-wrap">
  <%= render @bookmark_posts %>
    </div>
</div>
<% else %>
  <h1>ブックマークした投稿がここに表示されるよ！</h1>
<% end %>
</div>
