<% content_for(:title, "#{current_user.name}さんのいいね一覧") %>

<div class="bg-slate-300">
<%= link_to '投稿一覧', posts_path, class: 'underline text-blue-500 p-4' %>
<h1 class="text-4xl text-black mb-4 mt-3 p-4">あなたがいいねした一覧</h1>

<% if @like_posts.present? %>
  <div class="grid grid-cols-4 gap-4 px-2">
  <%= render @like_posts %>
</div>
<% else %>
  <h1>いいねした投稿がここに表示されるよ！</h1>
<% end %>
</div>

