<% content_for(:title, "#{current_user.name}さんの猫種と同じ猫種に関する投稿") %>

<div class="bg-slate-300">
  <%= link_to '投稿一覧', posts_path, class: 'underline text-blue-500 p-4' %>
<h1 class="text-4xl text-black mb-4 mt-3 p-4">あなたの猫達と同じ猫種に関する投稿</h1>
  <% if @samebreedcats.present? %>
    <div class="grid grid-cols-4 gap-4 px-2">
    <%= render @samebreedcats %>
    </div>
  <%end%>
</div>