<% content_for(:title, "#{@cat_breed.name}と同じ猫種に関する投稿") %>

<div class="bg-slate-300">
  <div class="py-3 p-4">
  <%= link_to '投稿一覧', posts_path, class: 'underline text-blue-500' %>
</div>
<h1 class="text-4xl text-black mb-4 p-3"><%= @cat_breed.name%>と同じ猫種に関する投稿</h1>
<% if @specifycats.present? %>
  <div class="grid grid-cols-4 gap-4 px-2">
    <%= render @specifycats %>
    </div>
<%end%>
</div>