<% content_for(:title, "#{current_user.name}さんの猫一覧") %>

<div class="bg-slate-300 text-black">
<h1 class="lg:text-4xl text-xl p-3 font-bold mb-6">ユーザー猫一覧ページ</h1>
<%= link_to '猫登録ページ', new_cat_path, class: 'underline text-blue-500' %>
<% if @cats.present? %>
<%= render @cats %>
<% else %>
<h1 class="text-2xl font-bold mb-6"><%= current_user.name %>さんはまだ猫ちゃんを登録してないよ！</h1>
<% end %>
</div>