<% content_for(:title, "#{current_user.name}さんの猫一覧") %>

<div class="bg-slate-300 text-black">
<h1 class="text-4xl font-bold mb-6">ユーザー猫一覧ページ</h1>
<%= link_to '猫登録ページ', new_cat_path, class: 'underline text-blue-500' %>
<%= render @cats %>
</div>
