<% content_for(:title, t('.title')) %>

<div class="text-black p-4  h-screen flex items-center justify-center">
    <div class="max-w-md p-10 base-color rounded-md shadow-2xl">
<h1 class="text-2xl font-bold mb-4">Login Page</h1>
<%= render "form"%>

<%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path, class: 'underline text-gray-700 hover:text-white' %>
    </div>
</div>
